/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
npm-debug.log
yarn-error.log
.env

.DS_Store
docker-compose.yml
_ide_helper.php
.phpstorm.meta.php
/storage/debugbar

.git
.gitignore
.gitattributes
.gitlab-ci.yml
.editorconfig
.env.example
.dockerignore
Dockerfile
docker-compose.example.yml
phpcs.xml
phpspec.yml
phpunit.xml
phpunit.sh
readme.md
